scikit-learn
tensorflow==2.8.0
tensorflow-gpu==2.8.0
torch
matplotlib
numpy
plotly
pandas
nbformat>=4.2.0
seaborn
wordcloud
tables
h5py
pyspark
streamlit
transformers
gensim
pyspellchecker
nltk
emoji
